@import url("https://fonts.googleapis.com/css?family=Pacifico|Patua+One&display=swap");
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 16.04167px;
  left: 6.5625px;
  right: 6.5625px;
  height: 2.8px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2.8px;
  background-color: white;
  content: "";
}

.c-hamburger span::before {
  top: -7.29167px;
}

.c-hamburger span::after {
  bottom: -7.29167px;
}

.c-hamburger--htla {
  background-color: #c7c8ca;
}

.c-hamburger--htla:hover {
  background-color: #c7c8ca;
}

.c-hamburger--htla span {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.c-hamburger--htla span::before {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transition: width 0.2s, top 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s, top 0.2s;
  transition: transform 0.2s, width 0.2s, top 0.2s, -webkit-transform 0.2s;
}

.c-hamburger--htla span::after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s, bottom 0.2s;
  transition: transform 0.2s, width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
}

/* active state, i.e. menu open */
.c-hamburger--htla.is-active {
  background-color: #52565e;
}

.c-hamburger--htla.is-active:hover {
  background-color: #52565e;
}

.c-hamburger--htla.is-active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-hamburger--htla.is-active span::before,
.c-hamburger--htla.is-active span::after {
  width: 50%;
}

.c-hamburger--htla.is-active span::before {
  top: 0;
  -webkit-transform: translateX(13.85417px) translateY(1.45833px) rotate(45deg);
          transform: translateX(13.85417px) translateY(1.45833px) rotate(45deg);
}

.c-hamburger--htla.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(13.85417px) translateY(-1.45833px) rotate(-45deg);
          transform: translateX(13.85417px) translateY(-1.45833px) rotate(-45deg);
}

.c-hamburger--htra {
  background-color: #c7c8ca;
}

.c-hamburger--htra:hover {
  background-color: #c7c8ca;
}

.c-hamburger--htra span {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.c-hamburger--htra span::before {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: width 0.2s, top 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, top 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s, top 0.2s;
  transition: transform 0.2s, width 0.2s, top 0.2s, -webkit-transform 0.2s;
}

.c-hamburger--htra span::after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transition: width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
  transition: width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, width 0.2s, bottom 0.2s;
  transition: transform 0.2s, width 0.2s, bottom 0.2s, -webkit-transform 0.2s;
}

/* active state, i.e. menu open */
.c-hamburger--htra.is-active {
  background-color: #52565e;
}

.c-hamburger--htra.is-active:hover {
  background-color: #52565e;
}

.c-hamburger--htra.is-active span {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before,
.c-hamburger--htra.is-active span::after {
  width: 50%;
}

.c-hamburger--htra.is-active span::before {
  top: 0;
  -webkit-transform: translateX(-2.91667px) translateY(1.45833px) rotate(-45deg);
          transform: translateX(-2.91667px) translateY(1.45833px) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
  bottom: 0;
  -webkit-transform: translateX(-2.91667px) translateY(-1.45833px) rotate(45deg);
          transform: translateX(-2.91667px) translateY(-1.45833px) rotate(45deg);
}

body {
  background-color: #f9fcf8;
  overflow-x: hidden;
  position: relative;
}

body li {
  list-style: none;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.index-text {
  color: black;
  font-family: 'Pacifico', cursive;
  font-family: 'Patua One', cursive;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 24px;
  font-weight: normal;
}

.index-text:hover {
  color: cadetblue;
}

.html-space .nav-bg-fixed {
  background-color: #f9fcf8;
  z-index: 20;
  height: 60px;
}

.html-space .list-space {
  z-index: 1;
}

.ham-border {
  margin-top: 5px;
  margin-left: 15px;
  border: 3px solid #caccd1;
  border-bottom: 4px solid #caccd1;
  border-radius: 5px;
}

.ham-mobile {
  display: none;
}

.Page-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100vh;
  position: relative;
}

.aside {
  position: relative;
  min-width: 185px;
  height: 100vh;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
  background-color: #f9fcf8;
}

.aside .left-selection {
  position: fixed;
  z-index: 0;
  overflow-y: auto;
  top: 60px;
  bottom: 0px;
  z-index: 10;
  height: 100vh;
}

.aside .left-selection .aside-text {
  line-height: 3;
  font-size: 15px;
  text-align: left;
  font-weight: 500;
  width: 170px;
}

.aside .left-selection a:hover {
  background-color: rgba(95, 158, 160, 0.3);
  color: #004b79;
}

.aside .left-selection a:focus {
  background-color: rgba(66, 184, 131, 0.6);
  color: black;
}

.aside i {
  padding: 1px;
  width: 25px;
  font-size: 20px;
}

.aside span {
  display: inline;
}

.aside .branch-selection,
.aside .AdministrationBranch-selection,
.aside .AccountBranch-selection {
  position: relative;
  line-height: 1;
  display: none;
  width: 180px;
  padding: 0 0;
}

.aside .branch-selection .branch-text,
.aside .AdministrationBranch-selection .branch-text,
.aside .AccountBranch-selection .branch-text {
  font-size: 16px;
  color: black;
  text-decoration: none;
  width: 180px;
  text-align: left;
}

.aside .branch-selection .branch-text:hover,
.aside .AdministrationBranch-selection .branch-text:hover,
.aside .AccountBranch-selection .branch-text:hover {
  background: rgba(11, 210, 205, 0.3);
  color: #2e1f54;
}

.aside .branch-selection::after {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  width: 3px;
  background: #ced7df;
  -webkit-transform: translateX(-3px);
          transform: translateX(-3px);
}

.content-space {
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content-space .card-example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  padding: 5px;
  margin-right: 10px;
}

.content-space .card-img {
  width: 100%;
}

@media (max-width: 992px) {
  .index-text {
    display: none;
  }
  .ham-window {
    display: none;
  }
  .ham-mobile {
    display: block;
  }
  .aside {
    min-width: 0;
    z-index: 30;
    -webkit-transform: translateX(-195px);
            transform: translateX(-195px);
    -webkit-transition: linear 0.3s;
    transition: linear 0.3s;
    opacity: 1;
  }
  .left-selection {
    margin-top: -8px;
    height: 100vh;
    background-color: #f9fcf8;
  }
  a {
    margin-top: 5px;
  }
  .mobile-list {
    z-index: 40;
    height: 100px;
    display: none;
  }
  .fixed-top {
    z-index: 100;
  }
}

@media (min-width: 993px) {
  .open .aside {
    min-width: 50px;
    -webkit-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s;
    height: 100vh;
  }
  .open .aside .aside-text {
    width: 28px;
  }
  .open .aside .left-selection span {
    display: none;
  }
  .open .aside .left-selection .branch-selection,
  .open .aside .left-selection .AdministrationBranch-selection,
  .open .aside .left-selection .AccountBranch-selection {
    display: none;
  }
  .open .aside .left-selection .branch-selection .branch-text,
  .open .aside .left-selection .AdministrationBranch-selection .branch-text,
  .open .aside .left-selection .AccountBranch-selection .branch-text {
    display: none;
  }
  .open .aside:hover .left-selection {
    background-color: #f9fcf8;
    height: 100vh;
    min-width: 195px;
  }
  .open .aside:hover .left-selection .aside-text {
    min-width: 195px;
  }
  .open .aside:hover .left-selection span {
    display: inline-block;
  }
  .open .aside:hover .left-selection .branch-selection,
  .open .aside:hover .left-selection .AdministrationBranch-selection,
  .open .aside:hover .left-selection .AccountBranch-selection {
    display: none;
  }
  .open .aside:hover .left-selection .branch-selection .branch-text,
  .open .aside:hover .left-selection .AdministrationBranch-selection .branch-text,
  .open .aside:hover .left-selection .AccountBranch-selection .branch-text {
    display: block;
  }
}

@media (max-width: 992px) {
  .mobile-ham-btn .aside {
    margin-top: 60px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: linear 0.2s;
    transition: linear 0.2s;
    background-color: #f9fcf8;
    z-index: 30;
    opacity: 1;
  }
  .mobile-ham-btn .aside .left-selection {
    height: 100vh;
    z-index: 20;
  }
}
/*# sourceMappingURL=all.css.map */